<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.AdminMapper">
    <cache type="org.mybatis.caches.redis.RedisCache"/>
    <select id="selectAdminPOByAccountAndPassword" resultType="com.example.mall.model.po.AdminPO">
        select id, account, name, password
        from admin
        where account = #{account}
          and password = #{password}
    </select>

    <select id="selectNameByAccount" resultType="java.lang.String">
        select name
        from admin
        where account = #{account}
    </select>

    <select id="selectAllAdminsFromAdmin" resultType="com.example.mall.model.po.AdminPO">
        select id, account, name, password
        from admin
    </select>

    <select id="selectAdminsFromAdminByAccountAndName" resultType="com.example.mall.model.po.AdminPO">
        select id,account,name,password from admin
        <where>
            <if test="account != null and account != ''">
                and account like "%"#{account}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
        </where>
    </select>

    <insert id="insertIntoAdmin">
        insert into admin(account, name, password)
        values (#{admin.account}, #{admin.name}, #{admin.password})
    </insert>

    <delete id="deleteAdminsById">
        delete
        from admin
        where id = #{id}
    </delete>

    <select id="selectAdminFromAdminById" resultType="com.example.mall.model.po.AdminPO">
        select id, account, name, password
        from admin
        where id = #{id}
    </select>

    <update id="updateAdminById">
        update admin
        set account=#{admin.account},
            name=#{admin.name},
            password=#{admin.password}
        where id = #{admin.id}
    </update>

    <update id="updateAdminPasswordByNameAndPassword">
        update admin
        set password=#{newPassword}
        where name = #{name}
          and password = #{oldPassword}
    </update>
</mapper>