<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.OrderMapper">
    <select id="selectOrderListByOrderPOWithPage" resultType="com.example.mall.model.po.OrderPO">
        select id,user_id as userId,nickname,receiver,address,phone,goods_name as goodsName,goods_id as
        goodsId,spec_name as specName,spec_id as specId,number,amount,state_id as stateId,create_time as
        createTime,has_comment as hasComment,score from goods_order
        <where>
            <if test="orderPO.stateId != null and orderPO.stateId != -1">
                and state_id = #{orderPO.stateId}
            </if>
            <if test="orderPO.goodsName != null">
                and goods_name = "%"#{orderPO.goodsName}"%"
            </if>
            <if test="orderPO.address != null">
                and address = "%"#{orderPO.address}"%"
            </if>
            <if test="orderPO.nickname != null">
                and nickname = "%"#{orderPO.nickname}"%"
            </if>
            <if test="orderPO.id != null">
                and id = #{orderPO.id}
            </if>
            <if test="moneyLimitLow != null">
                and amount &gt; #{moneyLimitLow}
            </if>
            <if test="moneyLimitHigh != null">
                and amount &lt; #{moneyLimitHigh}
            </if>
            and state_id != 4
        </where>
        limit #{pageSize} offset #{offset}
    </select>

    <select id="selectOrderTotalNumberByOrderPOWithPage" resultType="java.lang.Integer">
        select count(*) from goods_order
        <where>
            <if test="orderPO.stateId != null and orderPO.stateId != -1">
                and state_id = #{orderPO.stateId}
            </if>
            <if test="orderPO.goodsName != null">
                and goods_name = "%"#{orderPO.goodsName}"%"
            </if>
            <if test="orderPO.address != null">
                and address = "%"#{orderPO.address}"%"
            </if>
            <if test="orderPO.nickname != null">
                and nickname = "%"#{orderPO.nickname}"%"
            </if>
            <if test="orderPO.id != null">
                and id = #{orderPO.id}
            </if>
            <if test="moneyLimitLow != null">
                and amount &gt; #{moneyLimitLow}
            </if>
            <if test="moneyLimitHigh != null">
                and amount &lt; #{moneyLimitHigh}
            </if>
            and state_id != 4
        </where>
    </select>

    <select id="selectOrderById" resultType="com.example.mall.model.po.OrderPO">
        select id,
               user_id     as userId,
               nickname,
               receiver,
               address,
               phone,
               goods_name  as goodsName,
               goods_id    as
                              goodsId,
               spec_name   as specName,
               spec_id     as specId,
               number,
               amount,
               state_id    as stateId,
               create_time as
                              createTime,
               has_comment as hasComment,
               score
        from goods_order
        where id = #{id}
    </select>

    <update id="updateOrderByOrderPO">
        update goods_order
        <set>
            <if test="orderPO.stateId != null">
                state_id = #{orderPO.stateId},
            </if>
            <if test="orderPO.specId != null">
                spec_id = #{orderPO.specId},
            </if>
            <if test="orderPO.number != null">
                number = #{orderPO.number},
            </if>
            <if test="orderPO.amount != null">
                amount = #{orderPO.amount},
            </if>
            <if test="orderPO.hasComment != null">
                has_comment = #{orderPO.hasComment},
            </if>
            <if test="orderPO.score != null">
                score = #{orderPO.score},
            </if>
        </set>
        where id = #{orderPO.id}
    </update>

    <delete id="deleteOrderById">
        delete
        from goods_order
        where id = #{id}
    </delete>

    <select id="selectOrderByStateAndNickname" resultType="com.example.mall.model.po.OrderPO">
        select id,
        user_id as userId,
        nickname,
        receiver,
        address,
        phone,
        goods_name as goodsName,
        goods_id as
        goodsId,
        spec_name as specName,
        spec_id as specId,
        number,
        amount,
        state_id as stateId,
        create_time as
        createTime,
        has_comment as hasComment,
        score
        from goods_order
        <where>
            <if test="stateId != -1">
                state_id = #{stateId} and
            </if>
            nickname = #{nickname}
        </where>

        <!--        where state_id = #{stateId}-->
        <!--          and nickname = #{nickname}-->
    </select>

    <insert id="insertOrderPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO goods_order (id,
                                 user_id,
                                 nickname,
                                 receiver,
                                 address,
                                 phone,
                                 goods_name,
                                 goods_id,
                                 spec_name,
                                 spec_id,
                                 number,
                                 amount,
                                 state_id,
                                 create_time,
                                 has_comment,
                                 score)
        VALUES (#{orderPO.id}, #{orderPO.userId}, #{orderPO.nickname}, #{orderPO.receiver}, #{orderPO.address},
                #{orderPO.phone}, #{orderPO.goodsName}, #{orderPO.goodsId}, #{orderPO.specName}, #{orderPO.specId},
                #{orderPO.number}, #{orderPO.amount}, #{orderPO.stateId}, #{orderPO.createTime}, #{orderPO.hasComment},
                #{orderPO.score})
    </insert>

    <insert id="insertGoodsCommentPO">
        insert into goods_comment(id, user_id, order_id, goods_id, spec_id, content, score, create_time)
        values (#{goodsCommentPO.id}, #{goodsCommentPO.userId}, #{goodsCommentPO.orderId}, #{goodsCommentPO.goodsId},
                #{goodsCommentPO.specId}, #{goodsCommentPO.content}, #{goodsCommentPO.score}, #{param1.createTime})
    </insert>

    <select id="selectGoodsCommentPOListByGoodsId" resultType="com.example.mall.model.po.GoodsCommentPO">
        select id,
               user_id     as userId,
               order_id    as orderId,
               goods_id    as goodsId,
               spec_id     as specId,
               content,
               score,
               create_time as createTime
        from goods_comment
        where goods_id = #{goodsId}
    </select>
</mapper>