<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.UserMapper">
    <select id="selectUserListFromUser" resultType="com.example.mall.model.po.UserPO">
        select id, email, nickname, pwd, recipient, address, phone
        from user
    </select>

    <delete id="deleteUserById">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="selectUserFromUserByWord" resultType="com.example.mall.model.po.UserPO">
        select id, email, nickname, pwd, recipient, address, phone
        from user
        where nickname like "%" #{word} "%"
    </select>

    <select id="selectUserById" resultType="com.example.mall.model.po.UserPO">
        select nickname
        from user
        where id = #{userId}
    </select>

    <select id="selectUserPOByEmailAndPwd" resultType="com.example.mall.model.po.UserPO">
        select id, email, nickname, pwd, recipient, address, phone
        from user
        where email = #{email}
          and pwd = #{pwd}
    </select>

    <select id="selectNameByEmail" resultType="java.lang.String">
        select nickname
        from user
        where email = #{email}
    </select>

    <insert id="insertUserByUserPO">
        insert into user(id, email, nickname, pwd, recipient, address, phone)
        values (#{userPO.id}, #{userPO.email}, #{userPO.nickname}, #{userPO.pwd}, #{userPO.recipient},
                #{userPO.address}, #{userPO.phone})
    </insert>

    <select id="selectUserByNickname" resultType="com.example.mall.model.po.UserPO">
        select id, email, nickname, pwd, recipient, address, phone
        from user
        where nickname = #{nickname}
    </select>
</mapper>